<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Instagram</title>
</head>

<body>
    <h2>This page belongs to @<%= data.name %>
    </h2>
    <button>Follow</button>
    <button>Message</button>
    <p>Followers: <%= data.followers %></p>
    <p>Following: <%= data.followinf %></p>

    <hr>

    <h1>Posts</h1>
    <% for(let post of data.posts){ %>
        <div>
            <img src="<%= post.image %>">
            <p>Likes: <%= post.likes %></p>
            <p>Comments: <%= post.comments %></p>
        </div>
    <% } %>
    
</body>

</html>